
# Created by https://www.gitignore.io/api/macos

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos

# debug file
_site
*.
de1bc06c0d8e779c6cbd3c3f939250a531aba678a7777cfe17a339ba7d2df8
669cf92884a1e074cd74b4f93c32f611e59f9887e8e344aa6e1ca8b6e322d1
ba3913f9f61860d9ed41bfb13478b2570a18472f799fec58f9c3a3ecaf7578
9606fb3afea5bd1609ed40b622142f1c98125abcfe89a76a661b0e8e343910
*.xml
*.log
c4265b170ebc93a3495747fb9b09c18e5fda8617cde1000658c4982409b190
